shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
link-workspace-packages=true
shared-workspace-lockfile=true
save-exact=true
prefer-offline=true
side-effects-cache=true
workspace-concurrency=4
network-concurrency=16
onlyBuiltDependencies[]=esbuild
